connect.xsd

<xs:schema elementFormDefault="qualified" version="1.0"
           targetNamespace="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
           xmlns:tns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="QueueDescription" type="tns:queueDescription"/>

    <xs:complexType name="queueDescription">
        <xs:all>
            <xs:element name="LockDuration" type="xs:string" minOccurs="0"/>
            <xs:element name="MaxSizeInMegabytes" type="xs:long" minOccurs="0"/>
            <xs:element name="RequiresDuplicateDetection" type="xs:boolean" minOccurs="0"/>
            <xs:element name="RequiresSession" type="xs:boolean" minOccurs="0"/>
            <xs:element name="DeadLetteringOnMessageExpiration" type="xs:anyType" minOccurs="0"/>
            <xs:element name="EnableBatchedOperations" type="xs:boolean" minOccurs="0"/>
            <xs:element name="DefaultMessageTimeToLive" type="xs:string" minOccurs="0"/>
            <xs:element name="DuplicateDetectionHistoryTimeWindow" type="xs:string" minOccurs="0"/>
            <xs:element name="MaxDeliveryCount" type="xs:int" minOccurs="0"/>
            <xs:element name="SizeInBytes" type="xs:string" minOccurs="0"/>
	    <xs:element name="MessageCount" type="xs:string" minOccurs="0"/>                                                         
        </xs:all>
    </xs:complexType>
	
    <xs:element name="TopicDescription" type="tns:topicDescription"/>

    <xs:complexType name="topicDescription">
        <xs:all>
            <xs:element name="MaxSizeInMegabytes" type="xs:long" minOccurs="0"/>
            <xs:element name="RequiresDuplicateDetection" type="xs:boolean" minOccurs="0"/>
            <xs:element name="EnableBatchedOperations" type="xs:boolean" minOccurs="0"/>
            <xs:element name="DefaultMessageTimeToLive" type="xs:string" minOccurs="0"/>
            <xs:element name="DuplicateDetectionHistoryTimeWindow" type="xs:string" minOccurs="0"/>
	    <xs:element name="SizeInBytes" type="xs:string" minOccurs="0"/>	
        </xs:all>
    </xs:complexType>
	
    <xs:element name="SubscriptionDescription" type="tns:subscriptionDescription"/>

    <xs:complexType name="subscriptionDescription">
        <xs:all>
            <xs:element name="LockDuration" type="xs:string" minOccurs="0"/>
            <xs:element name="RequiresSession" type="xs:boolean" minOccurs="0"/>
            <xs:element name="DeadLetteringOnMessageExpiration" type="xs:boolean" minOccurs="0"/>
            <xs:element name="DeadLetteringOnFilterEvaluationExceptions" type="xs:boolean" minOccurs="0"/>
            <xs:element name="EnableBatchedOperations" type="xs:boolean" minOccurs="0"/>
            <xs:element name="DefaultMessageTimeToLive" type="xs:string" minOccurs="0"/>
            <xs:element name="MaxDeliveryCount" type="xs:int" minOccurs="0"/>
            <xs:element name="MessageCount" type="xs:int" minOccurs="0"/>
        </xs:all>
    </xs:complexType>	
	
</xs:schema>
